<a href="https://colab.research.google.com/github/DrumDong/Donggyu/blob/master/Set%2CDictionary_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set
- 중복허용 X  <-> list와는 다름
- 순서가 없음
- {} : 빈껍데기로 만들면 set형태가 아니라 dict형태로 만들어짐 ★
- mutable 타입
- 집합자료형이라 중복값이 없음

In [0]:
set_a ={1,2,3,4,5,1,1,1}
set_a # 중복 X

{1, 2, 3, 4, 5}

In [0]:
set_b = {}
print(set_a,'type:',type(set_a))
print(set_b,'type:',type(set_b))

{1, 2, 3, 4, 5} type: <class 'set'>
{} type: <class 'dict'>

## set() 함수 사용

In [0]:
KK = [1,2,3,4,5,5,5]
s = set(KK)
s # set 형태로 바뀌고 중복값이 사라진 것을 알 수 있음.

{1, 2, 3, 4, 5}

In [0]:
kk =list(s)
kk # 리스트에서 중복값 제거 기능이랑 똑같이 활용 가능

[1, 2, 3, 4, 5]

In [0]:
for a in s:
  print(a)

1
2
3
4
5

In [0]:
s = {1,3,5,3,21}
for i in s:
  print(i)

1
21
3
5

순서가 없는 것을 알고 있자.

## Hashing
- 임의의 길이의 데이터를 고정된 길이의 데이터로 맵핑하는 함수
- id를 찍으면 물리적인 공간으로 나오지만 hash()로 찍으면 구별될 수 있는 hash value를 반환 -> 눈에 보이는 값, 같은 hash value를 갖고 있어도 값이 다를 수 있음
- 즉 hash value가 다르면 진짜 다른 것 ★
- unhashable 타입 : mutable 타입 변수는(List, set,dictionary) hash 구분이 안됨. ★

In [0]:
# 연습문제
# 1. 집합자료형 사용 없이 중복 값 제거
a = [1,2,3,3,4,3,5,7,7]
k=[]
for i in range(len(a)):
  if a[i] not in a[i+1:]:
    k.append(a[i])
print('First question:',a)
print('First answer:',k)

# 2. 집합자료형을 사용해서 중복 값 제거
k = set(a)
print('Second question:',a)
print('Second answer:',k)

First question: [1, 2, 3, 3, 4, 3, 5, 7, 7]
First answer: [1, 2, 4, 3, 5, 7]
Second question: [1, 2, 3, 3, 4, 3, 5, 7, 7]
Second answer: {1, 2, 3, 4, 5, 7}

1 번 문제의 순서가 깨지는 이유는 if문 지정을 잘못 했음.
- 중복값 중 항상 맨 마지막 값을 받는 알고리즘으로 되어 있기 때문이다.

직접 정의한 Class의 Hashability 시험 x

## 아이템 추가 및 삭제

In [0]:
a= [1,2,3,4,7]
set_a = set(a)
print('set_a:',set_a)

#추가
set_a.add(100)
print(set_a)

#삭제
set_a.remove(4)
print(set_a)

set_a: {1, 2, 3, 4, 7}
{1, 2, 3, 4, 100, 7}
{1, 2, 3, 100, 7}

In [0]:
# update
a= [1,2,3,4,7]
set_a = set(a)

print('set_a:',set_a)
b=['s','1']
set_a.add(b)

set_a: {1, 2, 3, 4, 7}

TypeError: ignored

- add 는 오류가 나는 것을 알 수 있음.

In [0]:
a= [1,2,3,4,7]
set_a = set(a)

print('set_a:',set_a)
b=['s','1']

set_a.update(b)
print(set_a)

In [0]:
#clear
set_a.clear()
print(set_a)

## 집합 간 비교

In [0]:
a= {1,2,3,4,5}
b={1,3,5}

print(a.issuperset(b))
print(b.issuperset(a))
print(a.issubset(b))
print(b.issubset(a))

In [0]:
# 교집합
#intersection 메서드 활용
a = {1,2,3,4,5}
b = {1,3,5}
c = a.intersection(b)
d = b.intersection(a)

e = a & b

print(c)
print(d)
print(e)

## 집합 연산
- union : 합집합
- difference : 차집합

In [0]:
# 실습
a =[10,20,30,40,30,20,10]
b= [i for i in range(0,100,2)]

# 두 객체를 집합 자료형으로 변환하여 합집합, 교집합 객체를 구하고, 각각을 오름차순 정렬로 출력할 것
set_a = set(a)
set_b = set(b)

print('합집합:',sorted(set_a.union(set_b)))
print('교집합:',sorted(set_a & set_b))

In [0]:
a.sort()
print(a)

In [0]:
set_a.sort()

여기서 주의할 점은 sort는 set의 내장함수가 아니라는 것을 알아두자.

# Dictionary
- {:}를 사용
- value 에는 타입,중복 다 상관없음.

In [0]:
test_dict1 = dict(a=1,b=2) #key는 무조건 문자열★ 따옴표 금지 value값은 아무거나 와도 노상관
test_dict2 = {'a':10,1:'k','c':1,2:4}

In [0]:
test_dict2

In [0]:
#추가
test_dict2['kk'] = '010-7542-9928'
test_dict2

In [0]:
# 복수 딕셔너리도 가능
infomation = {'Donggyu':{'name':'kim','age':26},'kk':{'name':'dong','age':80}}
infomation['kk']['age']

### keys,values,items -> for문으로 작동시키기 위해 존재하는 함수들
- keys() : 키만 반환
- values(): values만 반환
- items : 튜플로 감싸서 반환
- 순서 있는 것 아님 ! -> for문 돌렸을 때 순서대로 나오는 것 맹신 x

In [0]:
test_dict = {'name':'John','age':15,'height':160}
print(test_dict)

In [0]:
test_dict.keys()

In [0]:
for k in test_dict.keys():
  print(k,test_dict[k])

In [0]:
for k in test_dict:       #그냥 딕셔너리를 for문으로 돌리면 keys()로 for문을 돌린 것과 일치
  print(k,test_dict[k])

In [0]:
for values

In [0]:
test_dict.values()

In [0]:
test_dict.items()

In [0]:
print(test_dict.items())

for k,v in test_dict.items():
  print(k,v)

In [0]:
# 실습
list_a = ['A','B','C','D','E']
list_b = [1,1,2,1,3]

late_dict ={}
# 1. 학생의 이름을 key로 가지며, 학생이 지각한 횟구를 value로 갖는 dict를 생성하고 출력

for i in range(len(list_a)):
  late_dict[list_a[i]]=list_b[i]

print(late_dict)

# 2. 아래의 list를 이용하여 1)에서 생성된 dictionary를 업데이트하고 업데이트된 dictionary를 출력하여라
# list_c는 수업마다 지각한 학생들이 기록된 리스트이며, 하루에 한 명씩만 지각했다고 가정한다.
list_c = ['A','C','E','F','G','B','A','F']

for late in list_c:
  if late in late_dict.keys():
    late_dict[late] +=1
  else:                 # 'F'와 'B'가 없으므로
    late_dict[late] =1

print(late_dict)

{'A': 1, 'B': 1, 'C': 2, 'D': 1, 'E': 3}
{'A': 3, 'B': 2, 'C': 3, 'D': 1, 'E': 4, 'F': 2, 'G': 1}

In [0]:
for late in list_c:
  print(late_dict[late])

6
5
6

KeyError: ignored

이것이 안되는 이유는 'F'가 late_dict에 없기 때문에 오류가 발생하기 때문이다.

### defaultdict 로 해결

In [0]:
from collections import defaultdict
name_dict= defaultdict(int)

for late in list_c:
  late_dict[late] +=1

print(late_dict)

{'A': 5, 'B': 3, 'C': 4, 'D': 1, 'E': 5, 'F': 4, 'G': 2}