In [1]:
import pandas as pd

In [3]:
#데이터 불러오기
sns = pd.read_csv('C:/Users/ehdrb/Desktop/공모전 2/9월sns.csv',encoding='cp949')
sns.head() #데이터가 합쳐져 있으므로 쪼개서 분리해야함.

,180901,Freq,180902,Freq.1,180903,Freq.2,180904,Freq.3,180905,Freq.4,...,180926,Freq.25,180927,Freq.26,180928,Freq.27,180929,Freq.28,180930,Freq.29
0,미세먼지,2015.0,미세먼지,3661.0,미세먼지,5989,미세먼지,5673.0,미세먼지,5885.0,...,미세먼지,2189,미세먼지,5194,미세먼지,5490,미세먼지,2509.0,미세먼지,3239.0
1,새제품,1300.0,새제품,1288.0,새제품,1267,제품,1475.0,제품,1348.0,...,연석,761,제품,1551,창농으로,2477,창농으로,881.0,새제품,1269.0
2,제품,717.0,청소,983.0,제품,1193,새제품,1263.0,새제품,1263.0,...,피부,698,새제품,1264,제강,1549,아이,545.0,제품,727.0
3,피부,670.0,제품,810.0,피부,1178,피부,1169.0,피부,1171.0,...,제품,563,연석,1257,연석,1395,제강,545.0,청소,723.0
4,연석,542.0,피부,690.0,사업,1105,아이,1048.0,아이,1048.0,...,아이,499,피부,1218,새제품,1273,제품,502.0,피부,575.0

## 데이터 쪼개기

In [4]:
sns1=sns[['180901','Freq']]
sns2=sns[['180902','Freq.1']]
sns3=sns[['180903','Freq.2']]
sns4=sns[['180904','Freq.3']]
sns5=sns[['180905','Freq.4']]
sns6=sns[['180906','Freq.5']]
sns7=sns[['180907','Freq.6']]
sns8=sns[['180908','Freq.7']]
sns9=sns[['180909','Freq.8']]
sns10=sns[['180910','Freq.9']]
sns11=sns[['180911','Freq.10']]
sns12=sns[['180912','Freq.11']]
sns13=sns[['180913','Freq.12']]
sns14=sns[['180914','Freq.13']]
sns15=sns[['180915','Freq.14']]
sns16=sns[['180916','Freq.15']]
sns17=sns[['180917','Freq.16']]
sns18=sns[['180918','Freq.17']]
sns19=sns[['180919','Freq.18']]
sns20=sns[['180920','Freq.19']]
sns21=sns[['180921','Freq.20']]
sns22=sns[['180922','Freq.21']]
sns23=sns[['180923','Freq.22']]
sns24=sns[['180924','Freq.23']]
sns25=sns[['180925','Freq.24']]
sns26=sns[['180926','Freq.25']]
sns27=sns[['180927','Freq.26']]
sns28=sns[['180928','Freq.27']]
sns29=sns[['180929','Freq.28']]
sns30=sns[['180930','Freq.29']]

sns1 = sns1.rename(columns={'180901':'days'})
sns2 = sns2.rename(columns={'180902':'days'})
sns3 = sns3.rename(columns={'180903':'days'})
sns4 = sns4.rename(columns={'180904':'days'})
sns5 = sns5.rename(columns={'180905':'days'})
sns6 = sns6.rename(columns={'180906':'days'})
sns7 = sns7.rename(columns={'180907':'days'})
sns8 = sns8.rename(columns={'180908':'days'})
sns9 = sns9.rename(columns={'180909':'days'})
sns10 = sns10.rename(columns={'180910':'days'})
sns11 = sns11.rename(columns={'180911':'days'})
sns12 = sns12.rename(columns={'180912':'days'})
sns13 = sns13.rename(columns={'180913':'days'})
sns14 = sns14.rename(columns={'180914':'days'})
sns15 = sns15.rename(columns={'180915':'days'})
sns16 = sns16.rename(columns={'180916':'days'})
sns17 = sns17.rename(columns={'180917':'days'})
sns18 = sns18.rename(columns={'180918':'days'})
sns19 = sns19.rename(columns={'180919':'days'})
sns20 = sns20.rename(columns={'180920':'days'})
sns21 = sns21.rename(columns={'180921':'days'})
sns22 = sns22.rename(columns={'180922':'days'})
sns23 = sns23.rename(columns={'180923':'days'})
sns24 = sns24.rename(columns={'180924':'days'})
sns25 = sns25.rename(columns={'180925':'days'})
sns26 = sns26.rename(columns={'180926':'days'})
sns27 = sns27.rename(columns={'180927':'days'})
sns28 = sns28.rename(columns={'180928':'days'})
sns29 = sns29.rename(columns={'180929':'days'})
sns30 = sns30.rename(columns={'180930':'days'})

## merge 시키기 
- nan 값을 가지는 행은 모두 삭제하고 매일 등록되는 키워드만 추출

In [5]:
kk=pd.merge(sns1,sns2,how='left',on='days')
kk=pd.merge(kk,sns3,how='left',on='days')
kk=pd.merge(kk,sns4,how='left',on='days')
kk=pd.merge(kk,sns5,how='left',on='days')
kk=pd.merge(kk,sns6,how='left',on='days')
kk=pd.merge(kk,sns7,how='left',on='days')
kk=pd.merge(kk,sns8,how='left',on='days')
kk=pd.merge(kk,sns9,how='left',on='days')
kk=pd.merge(kk,sns10,how='left',on='days')
kk=kk.dropna()
kk=pd.merge(kk,sns11,how='left',on='days')
kk=pd.merge(kk,sns12,how='left',on='days')
kk=pd.merge(kk,sns13,how='left',on='days')
kk=pd.merge(kk,sns14,how='left',on='days')
kk=pd.merge(kk,sns15,how='left',on='days')
kk=pd.merge(kk,sns16,how='left',on='days')
kk=pd.merge(kk,sns17,how='left',on='days')
kk=pd.merge(kk,sns18,how='left',on='days')
kk=pd.merge(kk,sns19,how='left',on='days')
kk=pd.merge(kk,sns20,how='left',on='days')
kk=kk.dropna()
kk=pd.merge(kk,sns21,how='left',on='days')
kk=pd.merge(kk,sns22,how='left',on='days')
kk=pd.merge(kk,sns23,how='left',on='days')
kk=pd.merge(kk,sns24,how='left',on='days')
kk=pd.merge(kk,sns25,how='left',on='days')
kk=pd.merge(kk,sns27,how='left',on='days')
kk=pd.merge(kk,sns28,how='left',on='days')
kk=pd.merge(kk,sns29,how='left',on='days')
kk=pd.merge(kk,sns30,how='left',on='days')
kk=kk.dropna()

In [7]:
kk

,days,Freq,Freq.1,Freq.2,Freq.3,Freq.4,Freq.5,Freq.6,Freq.7,Freq.8,...,Freq.19,Freq.20,Freq.21,Freq.22,Freq.23,Freq.24,Freq.26,Freq.27,Freq.28,Freq.29
0,미세먼지,2015.0,3661.0,5989.0,5673.0,5885.0,6121.0,5396.0,1171.0,3269.0,...,6443.0,4431.0,2258.0,1735.0,1122.0,1626.0,5194,5490.0,2509.0,3239.0
1,피부,670.0,690.0,1178.0,1169.0,1171.0,1227.0,1584.0,119.0,622.0,...,1222.0,1217.0,537.0,332.0,374.0,286.0,1218,1061.0,254.0,575.0
2,아이,479.0,470.0,1092.0,1048.0,1048.0,1433.0,949.0,192.0,399.0,...,1259.0,673.0,351.0,278.0,277.0,180.0,935,1062.0,545.0,560.0
3,기능,425.0,542.0,831.0,904.0,1005.0,908.0,844.0,159.0,470.0,...,914.0,699.0,381.0,272.0,185.0,276.0,902,769.0,365.0,554.0
4,공기,330.0,484.0,768.0,776.0,843.0,949.0,940.0,213.0,537.0,...,1081.0,857.0,358.0,339.0,171.0,236.0,1066,1016.0,460.0,539.0
5,청소,297.0,983.0,774.0,816.0,675.0,784.0,764.0,208.0,335.0,...,1034.0,748.0,207.0,188.0,108.0,213.0,809,802.0,448.0,723.0
8,우리,208.0,409.0,645.0,588.0,751.0,537.0,554.0,82.0,345.0,...,644.0,675.0,251.0,193.0,116.0,235.0,518,956.0,431.0,393.0
9,건강,206.0,270.0,613.0,506.0,578.0,767.0,483.0,131.0,278.0,...,610.0,785.0,218.0,190.0,135.0,166.0,511,1130.0,354.0,215.0

In [6]:
#데이터 저장 (그래프는 tableau로 만듬)
kk.to_csv('C:/Users/ehdrb/Desktop/Spyder/kk.csv',encoding='cp949')