In [0]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
train_data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/train.csv', encoding='cp949')

In [0]:
test_data =  pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/public_test.csv', encoding='cp949')

In [0]:
train_data

            id  ... smishing
0            0  ...        0
1            1  ...        0
2            2  ...        0
3            4  ...        0
4            5  ...        0
...        ...  ...      ...
295940  336373  ...        0
295941  336375  ...        0
295942  336376  ...        0
295943  336377  ...        0
295944  336378  ...        0

[295945 rows x 4 columns]

In [0]:
test_data

          id year_month                                               text
0     340000    2019-01  XXX고객님! 안녕하세요? 새롭게 시작하는 한 주 행복 가득하시길 기원합니다. 지난...
1     340001    2019-01   긴급 안내  XXX은행 가락동 지점  - 헬리오XXX 기본XXX    대출이자를 ...
2     340002    2019-01  XXX 고객님 안녕하세요올해는 미세먼지가 유난인거 같습니다.엊그제 새해가 시작된거같...
3     340003    2019-01  XXX 고객님찾아온 행운을 잡으셨나요? 못잡으셨다면 이번에 다시 잡으시길 기원합니다...
4     340004    2019-01  XXX 고객님새해 복 많이 받으세요 XXX은행 코스트코 퇴직연금 담당자입니다.  고...
...      ...        ...                                                ...
1621  341621    2019-04  (광고)XXX 고객님안녕하십니까!!고객님의 소중한 업무처리를 도와드린 kb창원중앙동...
1622  341622    2019-04  고객님 항상 저희 지점을 거래해 주셔서 감사합니다  본점 서비스 설문 전화 받으시면...
1623  341623    2019-04  XXX 고객님 저희 XXX은행 XXX지점을 이용해주셔서 감사드립니다  이번주도 더 ...
1624  341624    2019-04  (광고)알림 신청하면 매일 현금 100만원! XXX부동산 리브온지금 XXX부동산 리...
1625  341625    2019-04  (광고) XXX 고객님 안녕하세요.XXX봉XXX점 XXX대리입니다. 군인연금수급권자...

[1626 rows x 3 columns]

# 데이터 줄이기

In [0]:
train_0=train_data[train_data['smishing']==0]
train_1=train_data[train_data['smishing']==1]

In [0]:
train_0=train_0.sample(n=18703)

In [0]:
# 데이터 합치기
train_mini=pd.concat([train_0,train_1])

# shuffling
train_mini=train_mini.sample(frac=1).reset_index(drop=True)

In [0]:
train_mini.head(10)

       id  ... smishing
0  208829  ...        1
1  152347  ...        1
2  252436  ...        0
3  113794  ...        0
4   95953  ...        1
5  175078  ...        1
6  334061  ...        1
7    8159  ...        0
8  221050  ...        0
9  159954  ...        1

[10 rows x 4 columns]

# ward 추출

In [0]:
for i in [0,1]:
  f = open('/content/drive/My Drive/Colab Notebooks/data/데이콘/smishing_Ver2_%d.txt'%i,'a')
  for line in train_mini[train_mini['smishing']==i]['text']:
    f.write('%s\n'%(line))
  f.close()

## class 0

In [0]:
f = open('/content/drive/My Drive/Colab Notebooks/data/데이콘/smishing_Ver2_0.txt','r')
lines_0 = f.readlines()
lines_0 = [l.rstrip() for l in lines_0]
f.close()

In [0]:
text_0=' '.join(lines_0)
word_list_0 = text_0.split(' ')
sorted_word_list_0= sorted(word_list_0)
sorted_word_list_0[-1]
len(sorted_word_list_0)

872189

In [0]:
# 1000개이상 단어 출력

num=1
kk_0={}
for idx,w in enumerate(sorted_word_list_0):
    if idx == 436474:
        break
    if w == sorted_word_list_0[idx+1]:
        num +=1
    else:
        if num >= 100:
            kk_0[w]=num
        num=0

In [0]:
kk_0

{'': 38633,
 '(2017.06.08)': 199,
 '(USD등': 207,
 '(XX-XXX-XXX)': 106,
 '(ㅂ)': 110,
 '(광고)': 433,
 '(광고)XXX': 749,
 '(광고)XXX은행': 104,
 '(광고)세액공제': 214,
 '(단': 132,
 '(지방소득세': 267,
 '-': 1602,
 '.': 138,
 '10월': 280,
 '115.5만원': 271,
 '11월': 223,
 '12월': 201,
 '13.2%(지방소득세포함)': 298,
 '16.5%': 313,
 '1의': 261,
 '2017년': 321,
 '2017년도': 101,
 '2018년': 271,
 '26일부터': 281,
 '3.35.5%만': 261,
 '30만원까지': 287,
 '30일': 144,
 '3월': 207,
 '4월': 253,
 '4천만원(근로소득만': 275,
 '50%': 118,
 '55세': 271,
 '5월': 318,
 '5월의': 108,
 '5천5백만원)': 256,
 '6개월': 238,
 '6월': 261,
 '6월의': 138,
 '70%': 112,
 '700만원까지': 358,
 '75%': 123,
 '7월': 436,
 '80%': 252,
 '85%': 122,
 '8월': 105,
 '90%': 189,
 '90%까지': 360,
 '92.4만원': 259,
 '9998.95pt로': 126,
 '9월': 190,
 ':': 4161,
 'ATM에서': 180,
 'ELS': 115,
 'ELS는': 126,
 'ELS에': 126,
 'EUROSTOXX50': 126,
 'HXXXEI': 152,
 'HXXXEI가': 126,
 'HXXXEI의': 108,
 'Liiv': 295,
 'Mate에서': 172,
 'OTP발급수수료?대출금?대출이자-': 126,
 'SMS입출금통지서비스가': 131,
 'SP500': 124,
 'Star': 173,
 'VIP라운지': 119,
 'VIP팀장': 348,
 'XXX': 24154,
 'XXX)': 202,
 'XXX-XXX(리브메이트': 142,
 'XXX-XXX-XXX': 419,
 'XXX계장': 381,
 'XXX계장올림': 146,
 'XXX계장입니다.': 191,
 'XXX고객님': 140,
 'XXX과장': 139,
 'XXX내아이': 201,
 'XXX대리': 406,
 'XXX대리올림': 146,
 'XXX대리입니다.': 124,
 'XXX드림': 282,
 'XXX수퍼정기예금': 110,
 'XXX스타알림': 304,
 'XXX스타알림가입시': 120,
 'XXX올림': 2382,
 'XXX올림.': 192,
 'XXX은행': 6675,
 'XXX은행XXX올림': 220,
 'XXX은행과': 200,
 'XXX은행에서': 243,
 'XXX은행에서는': 294,
 'XXX은행을': 1114,
 'XXX은행의': 184,
 'XXX은행이': 103,
 'XXX은행이라는': 105,
 'XXX입니다.': 380,
 'XXX점': 170,
 'XXX지점': 1022,
 'XXX지점과': 130,
 'XXX지점을': 740,
 'XXX지점을찾아주셔서': 223,
 'XXX차장': 285,
 'XXX차장올림': 137,
 'XXX차장입니다.': 102,
 'XXX카드': 132,
 'XXX팀장': 534,
 'XXX팀장올림': 196,
 'ㅇ': 231,
 '가고': 105,
 '가까운': 281,
 '가끔씩': 317,
 '가는': 107,
 '가능': 392,
 '가능성은': 137,
 '가능성이': 171,
 '가능하며': 113,
 '가능하오니': 123,
 '가능한': 410,
 '가능합니다.': 632,
 '가능합니다.5.': 236,
 '가능해졌습니다.(근로자퇴직급여보장법시행령': 244,
 '가득': 817,
 '가득찬': 108,
 '가득하시고': 232,
 '가득하시길': 581,
 '가득한': 1756,
 '가운데': 150,
 '가을': 323,
 '가을에': 143,
 '가을을': 109,
 '가을의': 133,
 '가을이': 242,
 '가입': 311,
 '가입기간': 111,
 '가입되어': 139,
 '가입상품': 129,
 '가입시': 114,
 '가입이': 316,
 '가입하고': 294,
 '가입하시면': 340,
 '가입하신': 229,
 '가입하실': 235,
 '가입하지': 334,
 '가입해': 162,
 '가장': 430,
 '가정에': 562,
 '가족과': 247,
 '가족들과': 160,
 '가족이': 101,
 '간편하게': 179,
 '감기': 325,
 '감기조심하시고': 163,
 '감사': 951,
 '감사드리고': 188,
 '감사드리며': 1413,
 '감사드립니다': 291,
 '감사드립니다.': 1238,
 '감사를': 179,
 '감사의': 483,
 '감사합니다': 664,
 '감사합니다.': 1375,
 '감사합니다.XXX은행': 223,
 '강제성이': 262,
 '갖고': 159,
 '같습니다.': 174,
 '같은': 497,
 '같은데': 128,
 '같이': 257,
 '개선될': 127,
 '개인형': 104,
 '개인형퇴직연금(IRP)의': 262,
 '개정)개인형퇴직연금(IRP)에': 252,
 '객관적': 127,
 '거래': 1336,
 '거래를': 129,
 '거래에': 216,
 '거래하실': 141,
 '거래해': 1587,
 '거래해주셔서': 1151,
 '거래해주심에': 100,
 '거부': 160,
 '건강': 923,
 '건강과': 469,
 '건강관리': 183,
 '건강관리에': 151,
 '건강에': 101,
 '건강유의하시고': 135,
 '건강하게': 112,
 '건강하고': 151,
 '건강하시고': 384,
 '건강한': 204,
 '검사': 300,
 '검색하시면': 272,
 '것': 400,
 '것도': 109,
 '것으로': 306,
 '것은': 192,
 '것을': 386,
 '것이': 310,
 '결실의': 146,
 '결정일': 253,
 '결정일의': 126,
 '경기': 173,
 '경우': 2294,
 '경우가': 124,
 '경우에': 120,
 '경품': 106,
 '계기로': 118,
 '계속': 242,
 '계십니까?XXX': 230,
 '계장': 267,
 '계절': 225,
 '계좌는': 141,
 '계좌로': 234,
 '계좌를': 153,
 '계좌번호': 271,
 '고객': 195,
 '고객님': 4801,
 '고객님!': 969,
 '고객님.': 267,
 '고객님XXX은행': 731,
 '고객님과': 342,
 '고객님과의': 199,
 '고객님께': 1438,
 '고객님께서': 1145,
 '고객님께서도': 100,
 '고객님안녕하세요': 367,
 '고객님안녕하세요?': 132,
 '고객님안녕하세요XXX은행': 168,
 '고객님안녕하십니까?': 126,
 '고객님어제': 123,
 '고객님오늘': 281,
 '고객님을': 840,
 '고객님의': 3142,
 '고객님이': 168,
 '고객님저희': 109,
 '고객님항상': 263,
 '고객만족': 120,
 '고객만족도': 1070,
 '골든라이프': 194,
 '과도한': 135,
 '과장': 114,
 '관련': 1009,
 '관리해': 168,
 '관심': 101,
 '관심과': 343,
 '관심으로': 103,
 '관심을': 431,
 '광고물의': 102,
 '궁금하신': 797,
 '궁금한': 187,
 '권유직원': 131,
 '그': 674,
 '그동안': 133,
 '그리고': 151,
 '글로벌': 178,
 '금리': 112,
 '금리우대': 145,
 '금액에': 279,
 '금요일': 204,
 '금융': 108,
 '금융거래를': 207,
 '금융관련': 112,
 '금융상품': 100,
 '금융시장': 143,
 '금일': 147,
 '기간': 118,
 '기분': 639,
 '기분좋은': 564,
 '기쁜': 131,
 '기쁜시간': 265,
 '기쁨': 197,
 '기쁨으로': 232,
 '기쁨이': 327,
 '기운을': 117,
 '기원합니다': 122,
 '기원합니다.': 537,
 '기존': 249,
 '기준': 112,
 '기준).': 194,
 '기지개': 114,
 '기초자산': 126,
 '깃드는': 137,
 '깊은': 225,
 '깊이': 221,
 '꼬옥': 281,
 '꼭': 2138,
 '꼭!': 360,
 '꽃이': 122,
 '꽃향기': 136,
 '꾸준한': 508,
 '꾸준히': 411,
 '꿈도': 132,
 '나누는': 173,
 '나를': 133,
 '나만': 109,
 '나만의': 115,
 '나은': 263,
 '나의': 104,
 '낙인구간': 107,
 '낙인배리어': 217,
 '낙인배리어는': 108,
 '날': 385,
 '날들이': 103,
 '날씨': 177,
 '날씨가': 294,
 '날씨에': 553,
 '남은': 392,
 '납부-': 168,
 '납입금액에': 262,
 '납입에': 241,
 '납입이': 291,
 '납입하시는': 247,
 '낮아': 130,
 '내': 796,
 '내가': 163,
 '내내': 216,
 '내려간': 217,
 '내리는': 135,
 '내수부양과': 126,
 '내용': 146,
 '내용은': 264,
 '내점': 601,
 '내점시': 183,
 '내점하시면': 103,
 '내점해': 113,
 '내점해주셔서': 120,
 '너무': 314,
 '너무나': 293,
 '넉넉한': 109,
 '넘치는': 348,
 '노력을': 211,
 '노력하겠습니다.': 215,
 '노후설계': 266,
 '누구나': 128,
 '느껴지는': 133,
 '느끼는': 110,
 '늘': 1095,
 '다': 255,
 '다가오는': 144,
 '다른': 190,
 '다름이': 104,
 '다소': 161,
 '다시': 493,
 '다양한': 1208,
 '다운로드': 651,
 '다음': 120,
 '다음과': 291,
 '다음에': 143,
 '다음에도': 108,
 '다하겠습니다.': 427,
 '다하는': 222,
 '다해': 329,
 '단기간에': 128,
 '단위)': 131,
 '달': 318,
 '달려온': 156,
 '달콤한': 147,
 '담아': 138,
 '답변': 215,
 '당?타행': 127,
 '당첨': 111,
 '대단히': 428,
 '대리': 311,
 '대상': 119,
 '대상금액과': 262,
 '대상으로': 159,
 '대출': 458,
 '대출금리': 146,
 '대하여': 149,
 '대한': 1192,
 '대해': 800,
 '대해서': 176,
 '대해서는': 285,
 '더': 2126,
 '더욱': 1128,
 '더욱더': 167,
 '도와': 171,
 '도와드렸던': 239,
 '도와드리겠습니다.': 174,
 '도와드린': 387,
 '도움이': 398,
 '돈': 268,
 '동안': 192,
 '동의': 316,
 '동의한다': 201,
 '동의함': 130,
 '되겠습니다.': 108,
 '되고': 100,
 '되길': 161,
 '되는': 215,
 '되도록': 133,
 '되세요': 544,
 '되세요.': 132,
 '되세요XXX은행': 152,
 '되셨길': 125,
 '되셨으면': 173,
 '되시고': 159,
 '되시기': 372,
 '되시길': 1434,
 '되어': 404,
 '되어있으면': 251,
 '되었습니다.': 315,
 '된': 243,
 '될': 280,
 '됩니다.': 239,
 '됩니다.3.': 238,
 '둔화': 175,
 '드리게': 234,
 '드리겠습니다.': 155,
 '드리겠습니다.고객님의': 138,
 '드리고': 165,
 '드리고자': 181,
 '드리는': 539,
 '드리며': 262,
 '드릴': 122,
 '드림': 658,
 '드립니다': 289,
 '드립니다.': 909,
 '드립니다.다름이': 229,
 '드립니다.미중': 126,
 '든든한': 224,
 '등': 1443,
 '등록하시면': 162,
 '등에': 195,
 '따뜻한': 768,
 '따라': 1148,
 '따라서': 149,
 '따로': 105,
 '따른': 250,
 '따스한': 137,
 '때': 962,
 '때는': 166,
 '때도': 246,
 '때문에': 107,
 '또': 490,
 '또는': 937,
 '또한': 478,
 '라고': 167,
 '로': 325,
 '리브': 494,
 '리브는': 268,
 '리브를': 291,
 '리브메이트': 173,
 '링크': 178,
 '마감': 188,
 '마무리': 1160,
 '마시고': 303,
 '마음': 382,
 '마음과': 184,
 '마음도': 145,
 '마음에': 183,
 '마음으로': 652,
 '마음을': 240,
 '마음의': 206,
 '마음이': 204,
 '마지막': 335,
 '만기': 260,
 '만기)상환': 380,
 '만기가': 181,
 '만기일에': 149,
 '만남을': 204,
 '만남이': 125,
 '만들어': 114,
 '만족도': 391,
 '만족하셨길': 254,
 '만큼': 179,
 '많은': 1002,
 '많이': 1636,
 '말': 134,
 '말고': 209,
 '말씀': 183,
 '말씀을': 316,
 '말씀해주시면': 107,
 '말하며': 110,
 '맑은': 126,
 '맘으로': 100,
 '맛있게': 101,
 '맞이하는': 161,
 '맞이하여': 103,
 '맞춤형': 169,
 '맡겨주셔서': 103,
 '매우': 1506,
 '매우동의': 737,
 '매우동의로': 119,
 '매우동의한다': 112,
 '매우만족': 159,
 '매일': 210,
 '맺게': 147,
 '먼저': 403,
 '멋지게': 204,
 '멋진': 338,
 '메시지를': 204,
 '메시지의': 320,
 '명절': 351,
 '모두': 624,
 '모든': 629,
 '모바일': 289,
 '모여': 181,
 '목요일': 161,
 '몰랐던': 167,
 '못하였던': 262,
 '무더운': 157,
 '무료로': 578,
 '무역분쟁': 184,
 '문의': 234,
 '문의사항': 293,
 '문의하여주시기': 215,
 '문자': 102,
 '문자를': 295,
 '물어볼': 260,
 '미': 135,
 '미국': 303,
 '미리': 200,
 '미소': 141,
 '미소가': 162,
 '미소로': 181,
 '미치지': 134,
 '믿고': 422,
 '및': 1789,
 '밑으로': 218,
 '바라며': 1041,
 '바라며XXX': 102,
 '바라볼': 132,
 '바람이': 216,
 '바랍니다': 476,
 '바랍니다.': 1525,
 '바랍니다.XXX은행': 187,
 '바랍니다.참고로': 108,
 '바래요': 207,
 '바로': 1201,
 '바쁘신': 438,
 '바와': 127}

## Class 1

In [0]:
f = open('/content/drive/My Drive/Colab Notebooks/data/데이콘/smishing_Ver2_1.txt','r')
lines_1 = f.readlines()
lines_1 = [l.rstrip() for l in lines_1]
f.close()

text_1=' '.join(lines_1)
word_list_1 = text_1.split(' ')

sorted_word_list_1= sorted(word_list_1)
len(sorted_word_list_1)

5336270

In [0]:
# 1000개이상 나오는 단어 출력

num=1
kk_1={}
for idx,w in enumerate(sorted_word_list_1):
    if idx == 2668134:
        break
    if w == sorted_word_list_1[idx+1]:
        num +=1
    else:
        if num >= 1000:
            kk_1[w]=num
        num=0

In [0]:
kk_1

{'': 274816,
 '%': 2471,
 '(': 2451,
 '(광고)': 5417,
 '(광고)XXX': 6089,
 '(광고)한국': 1239,
 '(광고)한국XXX': 1433,
 '(내용)': 1597,
 '(원금과': 1321,
 '(이자만': 1345,
 ')': 2517,
 '-': 14255,
 '.': 2393,
 '00분': 5049,
 '00시': 4677,
 '1.': 4859,
 '1.만21세65세': 1507,
 '1.만21세이상': 1061,
 '10%내외3.20%이상의': 1155,
 '10%대로': 1015,
 '10%대의': 2749,
 '13건으로': 6661,
 '13등급까지': 1455,
 '17등급': 1461,
 '18:00': 1217,
 '1금융권': 4247,
 '1년이상': 1135,
 '1년이상(1년미만도': 3467,
 '1등급까지': 3923,
 '1번': 6137,
 '1억': 3213,
 '1억4000만원금리:': 1693,
 '1억4천만원까지': 1527,
 '1억4천만원까지(월소득의21배까지)(한도는': 1129,
 '2.': 4421,
 '2.97%자격:': 5165,
 '2.직장인사업자프리랜서주부학생': 1611,
 '20%이상의': 3117,
 '2018년': 2589,
 '21배까지': 1285,
 '250%까지': 1695,
 '2500만': 1155,
 '2500만원.금리:': 1935,
 '250417원으로': 1361,
 '280%까지(직군소득별': 1659,
 '2금융권이신분2.': 1423,
 '2배까지': 1021,
 '2분만': 1867,
 '2천': 1629,
 '3%(등급': 2947,
 '3.': 4783,
 '3.45%': 1169,
 '3.75%': 1033,
 '3.97%자격:': 2581,
 '3.최근부결자': 1991,
 '300%까지': 2021,
 '300%까지.금리:': 1043,
 '300%이내가능최근': 2083,
 '3000만': 1223,
 '3000만원까지2.최대': 1059,
 '3000만원까지연': 2707,
 '3개월': 2021,
 '4.': 3495,
 '4.15%': 1665,
 '4.24%': 1005,
 '4000만': 3551,
 '4000만원': 2063,
 '45%85%': 4915,
 '4500만': 1477,
 '5.': 2485,
 '50%이상': 2513,
 '50%이상이': 1861,
 '500만원': 1333,
 '5년분할상환': 2407,
 '6.': 2897,
 '6개': 5585,
 '6개월': 3099,
 '6개월간': 5637,
 '6개월이상': 2153,
 '6개월이상상품기간:': 1043,
 '6개월이상상환기간:': 1009,
 '7등급XXX': 1093,
 '7등급이내의': 8059,
 '8.68%12%자격:': 4417,
 '8000': 1105,
 '8000만원': 1461,
 '85%감소시켜드립니다.2.신용도를': 3131,
 '85%까지': 3313,
 '85%정도': 2107,
 '9000': 1181,
 '966873원(원금이자)으로': 1361,
 '9:00오후': 1303,
 ':': 6325,
 'B': 1071,
 'I': 2157,
 'ID:': 1153,
 'KISA': 2049,
 'XX-XXX-XXX': 1053,
 'XXX': 41673,
 'XXX-XXX-XXX': 5343,
 'XXX-XXX-XXXXXX': 1627,
 'XXX-XXX-XXX제목없음': 2209,
 'XXX에서': 2649,
 'XXX은행': 7551,
 'XXX을': 1703,
 'XXX이나': 1005,
 'XXX직장인': 1237,
 'XXX항상': 1187,
 'and': 3465,
 'bank': 2247,
 'bank나의': 1007,
 'citibankloan친구추가': 1339,
 '가계대출(신용대출)이': 1641,
 '가까운': 1163,
 '가능': 13189,
 '가능!!3.최저조건': 1487,
 '가능.': 1299,
 '가능.2.': 1135,
 '가능.4.': 1647,
 '가능.5.': 1643,
 '가능.6.': 1653,
 '가능유무': 1073,
 '가능하며': 1171,
 '가능하실수': 5047,
 '가능하십니다': 1387,
 '가능한': 1039,
 '가능할': 3507,
 '가능합니다.': 1145,
 '가능합니다.신용등급이': 1121,
 '가상': 2381,
 '가상조회를': 3161,
 '가이드': 1509,
 '가입자)한도:연소득의': 1935,
 '가장': 1517,
 '각종': 1095,
 '간단하게': 5253,
 '갈아타는것이': 1625,
 '갈아타면': 1629,
 '갈아타셔도': 1017,
 '감사합니다': 2223,
 '감사합니다.': 1615,
 '감사합니다.2018년': 2135,
 '감소및': 5325,
 '개요': 1331,
 '개인정보': 1689,
 '개편되어': 4653,
 '거라': 1497,
 '거래가': 6763,
 '거래지점': 1319,
 '거부': 6005,
 '거부라고': 5411,
 '거부라는': 5321,
 '거부를': 4483,
 '거치': 2261,
 '건강보험료': 2729,
 '건수가': 10109,
 '건수를': 2215,
 '건의': 1997,
 '검색친구추가후': 1021,
 '검색후': 1119,
 '것을': 2269,
 '경우': 2531,
 '경우에는': 6547,
 '계속': 1231,
 '계십니다XXX': 1569,
 '고객': 3543,
 '고객님께': 5673,
 '고객님께서': 2421,
 '고객님들께': 1605,
 '고객님들을': 1757,
 '고객님들의': 1125,
 '고객님의': 1341,
 '고객대상으로': 2729,
 '고객으로': 1403,
 '고금리': 5887,
 '고금리대출을': 1325,
 '고금리를': 1903,
 '고금리의': 1711,
 '고민하지': 2109,
 '과다': 1275,
 '과다시-대출': 1485,
 '과다조회로': 1047,
 '관계없이': 1297,
 '관련이': 2681,
 '관리': 6895,
 '관리가': 9229,
 '관리하고자': 1563,
 '관리하기': 5563,
 '관심이': 6191,
 '관한': 1865,
 '권해드립니다.1.': 4927,
 '권해드립니다.1.이미': 1493,
 '균등방식으로': 5393,
 '균등방식을': 3505,
 '근로자도': 5291,
 '글을': 1963,
 '금년': 2401,
 '금리': 4517,
 '금리:': 1805,
 '금리:최저': 2325,
 '금리가': 3269,
 '금리로': 5129,
 '금리를': 10561,
 '금리만': 1221,
 '금리부분도': 1043,
 '금리와': 1113,
 '금리의': 1753,
 '금리전환하는걸': 1221,
 '금리차이!': 1629,
 '금리차이로': 1629,
 '금액을': 1191,
 '금액이': 2031,
 '금융!대한민국의': 1593,
 '금융에': 1947,
 '금전적': 3771,
 '금전적인': 1119,
 '급여소득': 1501,
 '기간': 1629,
 '기대출의': 4669,
 '기본적인': 4387,
 '기업': 5833,
 '기업리스트에': 6883,
 '기존': 3319,
 '기존대출': 1613,
 '기존보다': 1653,
 '기존채무자': 1577,
 '기존한도를': 1893,
 '기준에': 2071,
 '기준은': 1685,
 '기회에': 1991,
 '기회입니다.고민하지': 1437,
 '꼭': 6535,
 '나가고있는': 1373,
 '남겨': 2149,
 '남겨주세요': 2865,
 '남겨주시면': 3721,
 '남지': 1055,
 '납부)': 1397,
 '납부실적': 2727,
 '납입금': 1625,
 '납입금액이': 1337,
 '납입시)5000만원': 3007,
 '납입액': 5093,
 '납입하는': 4707,
 '납입하시거나': 2385,
 '낮아': 2399,
 '낮아도': 1867,
 '낮은': 7519,
 '낮은금리로': 7125,
 '낮춰드리고': 1849,
 '내고': 1497,
 '내는': 5889,
 '내시는': 1793,
 '내어': 5369,
 '내용으로': 1793,
 '내용을': 1937,
 '내일을': 1035,
 '높은': 13175,
 '높은금리에서': 1411,
 '누구나': 3235,
 '눌러주시면': 4325,
 '늘려': 1751,
 '늦지': 1103,
 '늪에': 1537,
 '다름이': 1293,
 '다시': 6095,
 '다시는': 1929,
 '다신': 1691,
 '다이어트를': 1333,
 '다중채무자': 4229,
 '다해': 4701,
 '단': 1247,
 '담당자': 2851,
 '담당자는': 1281,
 '담보': 1619,
 '담보대': 1101,
 '답변드리겠습니다.': 1485,
 '답변드리겠습니다.부': 1241,
 '답장': 1969,
 '답장을': 26603,
 '당사': 6317,
 '당사상품의': 2237,
 '당행': 1493,
 '당행과': 2101,
 '대': 17031,
 '대부분이': 3039,
 '대부업체': 1277,
 '대비': 3689,
 '대상으로': 5069,
 '대출': 12827,
 '대출가능.': 1535,
 '대출가능.2.': 2089,
 '대출가능.4.': 2093,
 '대출건수가': 3429,
 '대출건수현금서비스': 1581,
 '대출금': 4049,
 '대출금액은': 3591,
 '대출기간': 1415,
 '대출로': 5613,
 '대출상품안내1.': 1921,
 '대출상품입니다.': 1185,
 '대출을': 5491,
 '대출의': 3189,
 '대출이': 4519,
 '대출한도': 1519,
 '대출한도를': 4129,
 '대출한도와': 1317,
 '대폭상승!!4.한도소진시까지': 1055,
 '대한': 6613,
 '대해': 4599,
 '대환': 3401,
 '대환대출로': 1761,
 '대환상품은': 1243,
 '대환할': 4401,
 '더': 3831,
 '더이상': 1435,
 '도와드리겠습니다.카톡': 1749,
 '도와드리고': 1817,
 '도와드릴': 2051,
 '도움드리겠습니다.수신을': 2355,
 '도움드리겠습니다.카카오톡': 1449,
 '도움드리며': 1243,
 '도움드릴께요': 1197,
 '도움드릴께요신용': 1179,
 '도움드릴께요신용상담을': 2167,
 '도움을': 1841,
 '도움이': 13025,
 '돈을': 2607,
 '돌려막기를': 1607,
 '동원해': 3655,
 '동의를': 1081,
 '동의하셨던': 2701,
 '되고자': 4691,
 '되는': 2397,
 '되도록': 1077,
 '되시는': 2259,
 '되실': 1529,
 '되실거라': 3259,
 '되실꺼라': 1169,
 '되어': 1089,
 '되지': 4501,
 '될': 2573,
 '됩니다.': 1831,
 '두번': 4157,
 '드려': 1367,
 '드렸습니다': 1303,
 '드리겠습니다.': 1779,
 '드리겠습니다.카톡': 1735,
 '드리도록': 1077,
 '드릴것을': 1767,
 '드림론금리최': 1017,
 '드림론의': 1025,
 '드립니다.': 2315,
 '드립니다.4.추가': 3955,
 '드립니다.여유시간을': 2207,
 '드시면': 1003,
 '든든한': 2241,
 '등급': 3351,
 '등급과': 7161,
 '등급에': 9813,
 '등급으로': 3571,
 '등급이': 2859,
 '등록을': 5483,
 '등록증': 1339,
 '따라': 28091,
 '때': 1257,
 '때문에': 3575,
 '떨어지나요?신용등급': 1533,
 '또는': 8835,
 '라는': 4781,
 '리스트에': 5821,
 '마시고': 7175,
 '마이너스': 1733,
 '마지XXX입니다.': 1057,
 '마지막': 2419,
 '만19세이상적용금리:': 1009,
 '만기': 1335,
 '만기-대출연장으로매월내시는': 1077,
 '만기상품으로': 2473,
 '만기일시로': 6813,
 '만들어': 6889,
 '많다면': 6501,
 '많아': 6701,
 '많아도': 3563,
 '많아서': 7199,
 '많으니': 5887,
 '많은': 2885,
 '많이': 3859,
 '많이들': 1641,
 '매달': 2279,
 '매우': 1885,
 '매월': 6709,
 '메세지를': 1135,
 '모기지': 2275,
 '모두': 8405,
 '모든': 4723,
 '모르는': 1745,
 '모으고': 1817,
 '목돈': 1547,
 '목록에': 5565,
 '무담보!': 3069,
 '무담보.신상품.출시안내': 1209,
 '무료거부': 1011,
 '무보증!': 2357,
 '무수수료!': 1895,
 '무수수료!2.': 1331,
 '무직자': 1445,
 '묶어': 1539,
 '문의': 1347,
 '문자': 3535,
 '문자는': 2431,
 '문자로': 8401,
 '문자를': 4737,
 '문자수신번호로': 5119,
 '문자에': 1633,
 '문자예약': 2371,
 '문자예약.또는': 4219,
 '문자이나': 4387,
 '미치지': 3629,
 '및': 42695,
 '바랍니다.': 3751,
 '바랍니다.신청방법본': 1225,
 '바랍니다홍보성': 1537,
 '바로': 5313,
 '바로잡고': 1155,
 '바쁘셔서': 1829,
 '반영되기': 1685,
 '받아도': 1771,
 '받으셨거나': 1071,
 '받으셨을텐데우선': 1051,
 '발생이': 1067,
 '발생하는': 1031,
 '발송': 2219,
 '발송되지': 7347,
 '방문': 1593,
 '방문하셔야': 1061,
 '방법을': 3823,
 '방식으로': 11395,
 '배정': 3973,
 '번에': 2557,
 '번호의': 2543,
 '법정최고': 1313,
 '별도': 1903,
 '별도의': 1337,
 '보': 1511,
 '보내고': 2757,
 '보내드리는것은한국자산관리공사': 1235,
 '보내드립니다.': 2919,
 '보내주시거나': 5729,
 '보내주시면': 1539,
 '보는': 4595,
 '보다': 1305,
 '보시기': 1703,
 '보시면': 1383,
 '보험을': 1793,
 '본': 3701,
 '본상품은': 2749,
 '본인이': 3057,
 '부': 1349,
 '부담감소': 1655,
 '부담스러우신': 3595,
 '부담스러우신분.3.': 2105,
 '부재중일시': 1061,
 '부채': 6789,
 '부채가': 7051,
 '부채를': 8751,
 '부채의': 1981,
 '부채통합': 1171,
 '부채통합대출': 1359,
 '부채통합대출의': 1079,
 '부채통합상품으로': 2957,
 '부채통합을': 1773,
 '부터': 1695,
 '부터(기준금리가산금리)한도최': 3169,
 '분': 2295,
 '분.': 1453,
 '분.2.': 2067,
 '분.3.': 2053,
 '분.4.': 1559,
 '분2.월': 1471,
 '분3.건수를': 1385,
 '분4.복잡한': 1189,
 '분금액은': 1641,
 '분들': 2865,
 '분들께': 3709,
 '분들께서': 1227,
 '분들도': 2773,
 '분들원리금균등방식을': 1411,
 '분들은': 6917,
 '분들을': 3133,
 '분들중': 1023,
 '분들채무금액은': 4249,
 '분매월': 1117,
 '분은': 1231,
 '분적금및': 1215,
 '분홍보성': 2519,
 '불가합니다.원리금균등방식을': 1117,
 '불입금액에': 1731,
 '불입금을': 3799,
 '빠르게': 5449,
 '빠른': 3305,
 '빠른신청': 5593,
 '빠져': 1537,
 '빠지시는분3.': 1411,
 '빨리': 1745,
 '사업': 1339,
 '사업자': 3901,
 '사용': 3567,
 '사용이': 9303,
 '사용자': 4051,
 '사용중이고': 1373,
 '사용중이신분.2.': 2045,
 '사용중인': 8103,
 '사용하고': 2941,
 '사이에': 1745,
 '산정': 1357,
 '산정방법에': 1577,
 '상': 2387}

In [0]:
print(len(kk_0))
print(len(kk_1))

533
518

In [0]:
train_set=set()

for name in kk_0:
  train_set.add(name)

for name in kk_1:
  train_set.add(name)

print(len(train_set))
train_set=list(train_set)

981

## ward 통일

In [0]:
train_mini.shape

(37406, 4)

In [0]:
train_vect = np.zeros((37406,1082))

In [0]:
for i in range(0,len(train_mini['text'])):
  for name in train_set:
    if name in train_mini['text'][i]:
      train_vect[i][train_set.index(name)]=1

# Data split

In [0]:
train_label=np.array(train_mini['smishing'])
train_label

array([1, 1, 0, ..., 1, 1, 1])

In [0]:
train_vect

array([[1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(train_vect,train_label, test_size=0.4, random_state=123)
X_val, X_test,y_val,y_test = train_test_split(X_test,y_test, test_size=0.5, random_state=123)

In [0]:
print(X_train.shape)
print(y_train.shape)
print(X_val.shape)
print(y_val.shape)
print(X_test.shape)
print(y_test.shape)

(22443, 1082)
(22443,)
(7481, 1082)
(7481,)
(7482, 1082)
(7482,)

# Modeiling and Test

## Logistic Regression

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

#LogisticRegression을 이용해 학습/예측/평가 수행.
lr_clf = LogisticRegression()
lr_clf.fit(X_train,y_train)
pred = lr_clf.predict(X_test)
print('CountVectorized Logistic Regression의 예측 정확도는 {0:.3f}'.format(accuracy_score(y_test,
                                                                                   pred)))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

CountVectorized Logistic Regression의 예측 정확도는 0.999

# Submit

In [0]:
submit=pd.read_csv('/content/drive/My Drive/Colab Notebooks/data/데이콘/public_test.csv', encoding='cp949')

In [0]:
submit_vect=np.zeros((1626,1082))

In [0]:
for i in range(0,len(submit['text'])):
  for name in train_set:
    if name in submit['text'][i]:
      submit_vect[i][train_set.index(name)]=1

In [0]:
submit_pred = lr_clf.predict(submit_vect)

In [0]:
submit_pred

array([0, 0, 0, ..., 0, 0, 0])

In [0]:
submit['smishing']=submit_pred

In [0]:
submit.to_csv("/content/drive/My Drive/Colab Notebooks/data/데이콘/gyu_submit.csv", mode='w')